<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Servicio</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-3 bg-dark" id="headerNav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'sobre' %}">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'servicios' %}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="{% url 'manage_services' %}">Gestionar Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="{% url 'profile' %}">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="{% url 'logout' %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="{% url 'register' %}">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="{% url 'login' %}">Iniciar sesión</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i> Carrito</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <h2>Agregar Servicio</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_title" class="form-label">Título</label>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Descripción</label>
                {{ form.description }}
            </div>
            <div class="mb-3">
                <label for="id_price" class="form-label">Precio</label>
                {{ form.price }}
            </div>
            <div class="mb-3">
                <label for="id_image" class="form-label">Imagen</label>
                {{ form.image }}
            </div>
            <div class="mb-3">
                <img id="imagePreview" src="" alt="Vista previa de la imagen" style="max-width: 300px; max-height: 300px; display: none;">
            </div>
            <button type="submit" class="btn btn-primary">Agregar Servicio</button>
        </form>
    </div>
    <script>
        document.getElementById('id_image').addEventListener('change', function() {
            const imagePath = this.value;
            const imagePreview = document.getElementById('imagePreview');
            if (imagePath) {
                imagePreview.src = "{% static '' %}" + imagePath;
                imagePreview.style.display = 'block';
            } else {
                imagePreview.style.display = 'none';
            }
        });
    </script>
</body>
</html>